<%- include('partials/header'); %>

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% blogPosts.forEach((blogPost) =>{ %>
  <div>
    <h2><%= blogPost.title %></h2>
    <p><%= blogPost.post.substring(0,100) %> ...
    <a href="/blog/<%= blogPost.title %>">Read More</a>
    </p>
  </div>
<%});%>

<%- include('partials/footer'); %>
