<%- include('partials/header'); %>

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% blogPosts.forEach((blogPost) =>{ %>
  <div>
    <h2><%= blogPost.title %></h2>
    <p><%= blogPost.post %></p>
    <a href="/blog/<%= blogPost.title %>">more...</a>
  </div>
<%});%>

<%- include('partials/footer'); %>
